@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rowdies:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --background-color: #f5f5f5;
  --heading-font-family: "Bebas Neue", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
}

.illustrateAbout {
  width: 70% !important;
  height: 98% !important;
  border: none !important;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
}

h2 {
  font-family: var(--heading-font-family);
}

h3 {
  margin-left: 180px;
  margin-top: 20px;
  margin-bottom: -20px;
}

h5 {
  font-size: 18px;
}

.mainpart {
  background-color: #ffde59;
  padding: 150px 0px;
}

.btn-branding {
  background-color: #fae079;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 65px;
  border: 3px solid black;
  margin-left: 17% !important;
}

.btn-branding:hover {
  background-color: #eac944;
  border: 2px solid black;
}

.footerAbout {
  background-color: #ffde59;
  padding: 40px;
  border-radius: 10px;
}

.applybuttonAbout {
  background-color: #fae079;
  border-radius: 8px;
  color: #212529;
  font-size: 16px;
  padding: 18px 65px;
  border: 3px solid #212529;
  margin-left: 115px;
}

.applybuttonAbout:hover {
  background-color: #eac944;
  border: 3px solid black;
}

.card-footer {
  background-color: #ffde59;
}

.aboutH5 {
  font-size: 14px !important;
}
.aboutParagraph {
  font-size: 15px;
}

@media only screen and (max-width: 576px) {
  .illustrate {
    width: auto;
    height: auto;
    border: none !important;
  }

  .introduce {
    text-align: center;
  }

  .mainpart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hi {
    margin-left: 2% !important;
  }

  h1 {
    font-size: 55px;
  }
  h5 {
    font-size: 12px;
  }
  .col-sm-4 {
    margin-bottom: 20px !important;
  }

  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-text {
    text-align: center;
  }
  .footerButton {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .applybuttonAbout {
    margin-right: 38%;
    border-radius: 8px;
    font-size: 19px;
    padding: 10px 50px;
    margin: 23px !important;
  }

  .col-sm-8 h2 {
    font-size: 33px;
  }

  .footerh5 {
    font-size: 16px;
  }

  .aboutH5 {
    font-size: 13px !important;
  }

  .aboutHeader {
    font-size: 53px;
    margin-top: -7%;
  }

  .illustrateAbout {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
  }
  .aboutParagraph {
    font-size: 14px;
    padding: 0 20px;
    text-align: justify;
    margin-bottom: -15%;
  }
  .footerAbout {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .illustrateAbout {
    width: auto !important;
    height: auto !important;
    border: none !important;
    margin-left: -5% !important;
  }

  .introduce {
    text-align: center;
    margin-top: -7% !important;
  }

  .aboutHeader {
    font-size: 27px !important;
    margin-left: -1%;
  }

  .aboutH5 {
    font-size: 9px !important;
  }
  .aboutParagraph {
    font-size: 12px;
    text-align: justify;
  }
  .applybuttonAbout {
    border-radius: 8px;
    font-size: 12px;
    padding: 18px 30px;
    margin-left: 50px;
  }
  .footerh5 {
    font-size: 11px !important;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .illustrateAbout {
    width: auto !important;
    height: auto !important;
    border: none !important;
    margin-left: -5% !important;
  }

  .aboutHeader {
    font-size: 65px !important;
    margin-left: -1%;
  }
}
