@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rowdies:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --background-color: #f2f2f2;
  --heading-font-family: "Bebas Neue", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
}

.mainarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8e5e5;
  padding: 160px 20px;
}
.img-fluid {
  width: 55%;
  height: 40%;
}

.btn-branding {
  background-color: #ea83cc;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  border: 2px solid black;
  margin-right: 44%;
}
